.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar main main";
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  height: 100%;
  grid-row-gap: 32px;
}

@media all and (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header header"
      "main main main";
  }
}
