.header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 270px;
}

.logo {
  flex: 1;
}

.mobileMenuIcon {
  display: none;
}

.input {
  height: 50px;
  max-width: 320px;
}

.mobileMenu {
  position: absolute;
  top: 113px;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--color-background);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
  padding: 0 44px 0 40px;
  overflow: auto;
}

.mobileMenuOpen {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.navbar {
  display: block;
  max-width: 100%;
}

.notFound {
  font-size: 40px;
  color: var(--color-white);
}

@media all and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }
  .headerLeft {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .mobileMenuIcon {
    display: block;
  }
  .input {
    max-width: 100%;
    height: 40px;
  }
}

@media all and (max-width: 400px) {
  .mobileMenu {
    top: 92px;
    padding: 0 20px;
  }
}
