@import "variables.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  padding: 40px 44px 51px 40px;
  color: var(--color-dusty-gray);
  font-family: "Roboto", Arial;
}

@media all and (max-width: 400px) {
  body {
    padding: 20px;
  }
}
